{% extends 'bootstrap/base.html' %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Home- Welcome to the Pitch Website</title>
    {% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>

  <body>
    <!-- Content Block -->
    {% block content %} {% endblock %}

    <!-- Navbar block  -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}

  </body>

</html>
