{% macro displayPitchList(pitch_list) %} 
{% for pitch in pitch_list %}
<head>
  <style>
    a {
      color: #101010;
      text-decoration: none;
  }
  </style>
</head>
<div class="">
  <div class="well">
    <div class="row">
        <h2>{{pitch.title}}</h2>

      <p>{{pitch.body|upper}}</p></a>
      <div class="col-md-10 col-sm-12">
          <h3>{{pitch.content}}</h3>
            
          <a href=" {{url_for('.view_pitch',id=pitch.id)}}"class="badge badge-primary">Read comments </h4></a>

          <a href=" {{url_for('.post_comment',id=pitch.id)}}" class="badge badge-secondary">COMMENT </a>
      </div>
      </div>
  

</div>


{% endfor %} 
{% endmacro %}

{% macro displayCategoryList(category_list) %}
  {% for category in category_list%}
  <head>
    <style>
      .cat{
         
        background-color: #034;
    
        width: 194px;

    }
    </style>
  </head>
  <div class="col-md-4">


  </div>
        <div class="cat"> 

          <a href="{{url_for('.category',id=category.id)}}"><p>{{category.name|upper}}</p></a>
        </div>

    {% endfor %}
{% endmacro %}


{% macro displaySpecificPitch(specific_pitch_list) %}
 {% for comment in specific_pitch_list %}
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <hr>
        <p style="color:orange">{{comment.comment}} </p>
         <p style="text-align:right; color:#555652; font-size:10px;">{{comment.time_posted.strftime('%Y/%m/%d || %r') }}</p>
    </div>
  {% endfor %}
{% endmacro %}