{% macro displayPitchList(pitch_list) %} {% for pitch in pitch_list %}

  <div class="col-md-4">
    <div class="card border-success mb-3">

      <div class="card-header bg-transparent border-success">{{pitch.title}}</div>
      <div class="card-body text-success">
        <h5 class="card-title"></h5>
        <p class="card-text">{{pitch.body}}</p>
        <a href="/comment"> review file </a>
        <table>
          <tr>
            <td><h4 class="text-left"><a class="btn btn-round" href="#">Upvote <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>  </a></h4></td>
            <td>&nbsp;</td>
            <td><h4 class="text-left"><a class="btn btn-round" href="#">Downvote <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>  </a></h4></td>
            <td>&nbsp;</td>
            <td><h4 class="text-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <p>
            </h4></td>
          </tr>
        </table>
      </div>
      <div class="card-footer bg-transparent border-success">{{pitch.category}}</div>
      <h3>{{pitch.content}}</h3>
      <i onclick="myFunction(this)" class="fa fa-thumbs-up"></i>
      

    </div>
  </div>


{% endfor %} {% endmacro %}
