{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<head>
    <style>
        .pitch{
            
                color: aliceblue;
                width: 681px;
                height: 222px;
                margin-top: 112px;
            
        }
    
        body {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            line-height: 1.42857;
            color: rgb(51, 51, 51);
            background-color: rgb(66, 47, 47);
        }
    </style>
</head>
    <title> {{ title }} </title>

    <div class="container">

        <div class="row">

            <div class="col-md-2 col-lg-2">

            </div>

            <div class=" col-xs-12 col-sm-12 col-md-8 col-lg-8 pitch">
                <div class="pitch">
                        {{ wtf.quick_form(category_form) }}

                </div>


            </div>

            <div class="col-md-2 col-lg-2">

            </div>

        </div>
    </div>
{% endblock %}
